@font-face {
    font-family: 'WorkSans';
    src: url('assets/fonts/WorkSans-VariableFont_wght.ttf'), 
    url('assets/fonts/WorkSans-Italic-VariableFont_wght.ttf');
}

body {
    font-family: 'WorkSans';
    background-color: hsl(275, 100%, 97%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('assets/images/background-pattern-desktop.svg');
    background-size: contain; 
    background-repeat: no-repeat; 
    background-position: top; /* Fix the image at the top */
    background-attachment: fixed;
    margin: 0;
}

.container{
    width: 579px;
    background-color: #fff;
    padding: 40px;
    border-radius: 18px;
    position: absolute;  
    box-shadow: 0px 15px 60px 0px rgba(0, 0, 0, 0, 0.25);
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 18px;
    height: 140px;
}

header img{
    width: 64px;
}

header h2{
    font-size: 56px;
    color: hsl(292, 42%, 14%);
}

.question:not(:last-child){
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: hsl(292, 42%, 14%);
    padding: 16px 0px 16px 0px;
    border-bottom: 1px solid hsl(292, 16%, 49%, 0.1);
}



.question:hover{
    color: #AC23F3;
}

h3{
    font-size: 18px;
    font-weight: 600;
}

.icon-minus{
    display: none;
}

.answer{
    display: none;
    color: hsl(292, 16%, 49%);
    font-size: 16px;;
}